.botaoCadastrar {
  margin-top: 7%;
  margin-bottom: 5%;
}
.margemItem {
  margin-top: 8%;
}

hr.solid {
  border-top: 1px solid #bbb;
}

p {
  text-align: center;
  color: #6b6b6b;
  font-size: 1.1em;
}
.link {
  text-decoration: none;
  color: #6b6b6b;
}
