<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Aula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Aula
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Disciplina</ion-label>
      <ion-select interface="action-sheet">
        <ion-select-option
          >Desenvolvimento Mobile e Internet das Coisas</ion-select-option
        >
        <ion-select-option
          >Ambientes e Modelos Organizacionais na Era Digital</ion-select-option
        >
        <ion-select-option
          >Arquitetura de Sistemas e Soluções de Tecnologia da
          Informação</ion-select-option
        >
        <ion-select-option>Projeto Interdisciplinar</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Data Inicial</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY, HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY, HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Semestre</ion-label>
      <ion-select interface="action-sheet">
        <ion-select-option>01/2018</ion-select-option>
        <ion-select-option>02/2018</ion-select-option>
        <ion-select-option>01/2019</ion-select-option>
        <ion-select-option>02/2019</ion-select-option>
        <ion-select-option>01/2020</ion-select-option>
        <ion-select-option>02/2020</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label type="number" inputmode="numeric" maxlength="30"
        >Lotação máxima</ion-label
      >
      <ion-input style="text-align: right;"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Preferências
      </ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item>
        <ion-checkbox color="danger"></ion-checkbox>
        <ion-label>Ar condicionado</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger"></ion-checkbox>
        <ion-label>Computadores</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger"></ion-checkbox>
        <ion-label>Microscópio</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger"></ion-checkbox>
        <ion-label>Projetor</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-button color="secondary" expand="block">Cadastrar</ion-button>
</ion-content>
