<ion-header>
  <ion-toolbar>
    <ion-title> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Aula
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Disciplina</ion-label>
      <ion-select
        interface="action-sheet"
        [(ngModel)]="aula.CdDisciplina"
        placeholder="Selecione um item"
      >
        <ion-select-option
          *ngFor="let item of disciplinas"
          [value]="item.CdDisciplina"
        >
          {{item.dsDisciplina}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Turma</ion-label>
      <ion-select
        interface="action-sheet"
        [(ngModel)]="aula.CdTurma"
        placeholder="Selecione um item"
      >
        <ion-select-option *ngFor="let item of turmas" [value]="item.CdTurma">
          {{item.DsTurma}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Data Inicial</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY, HH:mm"
        [(ngModel)]="aula.DtAula"
        placeholder="Selecione a data"
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY, HH:mm"
        placeholder="Selecione a data"
      >
      </ion-datetime>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Semestre</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="aula.DsSemestre"
      placeholder=""
      max-length="100"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label type="number" inputmode="numeric" maxlength="30" position="fixed"
      >Qtd. máxima de aluno</ion-label
    >
    <ion-input type="number" [(ngModel)]="aula.QtdMaxAlunos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sala</ion-label>
    <ion-select
      interface="action-sheet"
      [(ngModel)]="aula.CdSala"
      (ionChange)="onChange($event)"
      placeholder="Selecione um item"
    >
      <ion-select-option *ngFor="let item of salas" [value]="item.CdSala">
        {{item.DsSala}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list-header *ngIf="equipamentos && equipamentos.length > 0">
    <ion-label>
      Preferências
    </ion-label>
  </ion-list-header>

  <ion-list *ngFor="let item of equipamentos">
    <ion-item>
      <ion-checkbox
        color="danger"
        [(ngModel)]="item.marcado"
        [checked]="item.marcado"
      >
      </ion-checkbox>
      <ion-label> {{ item.DsEquipamento }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="submit()"> {{ btnTitulo }} </ion-button>
</ion-content>
