<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Aula </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h3><strong>Aula</strong></h3>
    </ion-list-header>

    <ion-item>
      <ion-label>Disciplina</ion-label>
      <ion-select
        interface="action-sheet"
        [(ngModel)]="aula.CdDisciplina"
        placeholder="Selecione um item"
      >
        <ion-select-option
          *ngFor="let item of disciplinas"
          [value]="item.CdDisciplina"
        >
          {{item.dsDisciplina}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Turma</ion-label>
      <ion-select
        interface="action-sheet"
        [(ngModel)]="aula.CdTurma"
        placeholder="Selecione um item"
      >
        <ion-select-option *ngFor="let item of turmas" [value]="item.CdTurma">
          {{item.DsTurma}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Data Inicial</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY, HH:mm"
        [(ngModel)]="aula.DtAula"
        placeholder="Selecione a data"
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY, HH:mm"
        placeholder="Selecione a data"
      >
      </ion-datetime>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Semestre</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="aula.DsSemestre"
      placeholder=""
      max-length="100"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label type="number" inputmode="numeric" maxlength="30" position="fixed"
      >Qtd. máxima de aluno</ion-label
    >
    <ion-input type="number" [(ngModel)]="aula.QtdMaxAlunos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sala</ion-label>
    <ion-select
      interface="action-sheet"
      [(ngModel)]="aula.CdSala"
      (ionChange)="onChange($event)"
      placeholder="Selecione um item"
    >
      <ion-select-option *ngFor="let item of salas" [value]="item.CdSala">
        {{item.DsSala}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list-header *ngIf="equipamentos && equipamentos.length > 0">
    <h3><strong>Preferências</strong></h3>
  </ion-list-header>

  <ion-list *ngFor="let item of equipamentos">
    <ion-item>
      <ion-checkbox
        color="danger"
        [(ngModel)]="item.marcado"
        [checked]="item.marcado"
      >
      </ion-checkbox>
      <ion-label> {{ item.DsEquipamento }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    (click)="submit()"
    color="secondary"
    class="margemBotao"
  >
    {{ btnTitulo }}
  </ion-button>
</ion-content>

<ion-app>
  <ion-tabs class="iconeColorido">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" class="iconeColorido"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aulas">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Aulas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aula">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>Cadastro de Aula</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="turma">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Turmas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
