<ion-header>
  <ion-toolbar>
    <ion-title>Aulas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <ion-grid class="gridMargem">
    <ion-row>
      <ion-col *ngFor="let item of aulas" class="bordaArredondada" size="5.5">
        <h5 class="tituloNegrito textoAlinhado">
          {{ item.DtAulaFormatada }}
        </h5>
        <h6 class="textoAlinhado">{{ item.DsDisciplina }}</h6>
        <h6>Turma: MOAI2324</h6>
        <h6>Sala: {{ item.DsSala }}</h6>

        <ion-icon name="create-sharp" class="iconEditar" (click)="editarAula()">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
-->

  <ion-item *ngFor="let item of aulas" class="itemMargem">
    <ion-icon name="school-outline" class="iconeMargem"></ion-icon>
    <ion-label>
      <h4><strong>{{ item.DtAulaFormatada }}</strong></h4>
      <h4>Disciplina: {{ item.DsDisciplina }}</h4>
      <p>Turma: MOAI2324</p>
      <p>Sala: {{ item.DsSala }}</p>
      <ion-button color="light">
        <ion-icon
          name="create-outline"
          class="iconeVisualiza"
          (click)="editarAula(item.CdAula)"
        ></ion-icon>
        Editar aula
      </ion-button>
    </ion-label>
  </ion-item>
</ion-content>
