<ion-header>
  <ion-toolbar>
    <ion-title>Aulas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="gridMargem">
    <ion-row>
      <ion-col *ngFor="let item of aulas" class="bordaArredondada" size="5.5">
        <h5 class="tituloNegrito textoAlinhado">
          {{ item.DtAulaFormatada }}
        </h5>
        <h6 class="textoAlinhado">{{ item.DsDisciplina }}</h6>
        <h6>Turma: MOAI2324</h6>
        <h6>Sala: {{ item.DsSala }}</h6>

        <ion-icon name="create-sharp" class="iconEditar" (click)="editarAula()">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
