.labelAumentada {
  padding-top: 9%;
  padding-bottom: 6%;
  font-size: 1.5em;
}

.tituloNegrito {
  font-weight: bold;
}
.bordaArredondada {
  background-color: #00becc99;
  border-radius: 20px;
  margin: 3%;
}
.textoAlinhado {
  text-align: center;
}

.iconeColorido {
  color: #00becc;
}

ion-icon {
  color: #00becc99;
}
.gridMargem {
  margin-left: 1.5em;
}
.iconEditar {
  color: #ffffff;
  margin-left: 1.5em;
}

ion-button {
  background: var(--ion-cor-padrao);
}
