<ion-header>
  <ion-toolbar>
    <ion-title>Turmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of turmas">
        <ion-list>
          <ion-item class="itemMargem" >
            <ion-icon name="school-outline" class="iconeMargem"></ion-icon>
            <ion-label>
              <h2>Turma: {{ item.DsTurma }}</h2>
              <p>Turno: {{ item.DsTurno }}</p>
              <!-- <ion-button color="light" (click)="detalheTurma(1)">
                <ion-icon name="search-outline" class="iconeVisualiza"></ion-icon>
                Visualizar turma
              </ion-button> -->
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
