.labelAumentada {
  padding-top: 9%;
  padding-bottom: 6%;
  font-size: 1.5em;
}
.tituloNegrito {
  font-weight: bold;
}
.bordaArredondada {
  background-color: var(--ion-cor-padrao);
  border-radius: 20px;
  margin: 3%;
}
.textoAlinhado {
  text-align: center;
}
.iconeColorido {
  color: var(--ion-cor-padrao);
}

ion-icon {
  color: var(--ion-cor-padrao);
}
.gridMargem {
  margin-left: 1.5em;
}
.iconEditar {
  color: #ffffff;
  margin-left: 1.5em;
}
