<ion-content>
  <!-- <ion-list padding>
    
    <ion-item *ngFor="let item of aulas">
      <ion-grid>
        {{ item.dtAula}}
</ion-grid> <br><p></p>
      {{item.dsSala}}</ion-item>
  </ion-list>

    <ion-item>
      <ion-grid>
        <h5>20.04 - 19:00</h5>
        <h6>Arquitetura de Computadores e Sistemas</h6>
        <h6>Sala: B107</h6>
      </ion-grid>
    </ion-item>
  <ion-button expand="block" (click)="cadastrarAula()">Cadastrar</ion-button>
  <ion-button expand="block" (click)="editarAula()">Editar</ion-button>
</ion-content>  
</ion-list>-->

  <ion-list-header>
    <ion-label class="labelAumentada">
      Olá, {{ nomeUsuario }}
    </ion-label>
  </ion-list-header>

  <ion-grid class="gridMargem">
    <ion-row>
      <ion-col *ngFor="let item of aulas" class="bordaArredondada" size="5">
        <h6 class="tituloNegrito textoAlinhado">
          {{ item.DtAulaFormatada }}
          <ion-icon
            name="create-outline"
            class="iconEditar"
            (click)="editarAula()"
          >
          </ion-icon>
        </h6>
        <h6 class="textoAlinhado">{{ item.DsDisciplina }}</h6>
        <h6><strong>Sala:</strong> {{ item.DsSala }}</h6>
        <h6><strong>Turma:</strong> MOAI2324</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-sharp" class="iconeColorido"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aulas">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Aulas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aula">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Cadastro de Aula</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="turma">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Turmas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

<!-- <ion-button expand="block" (click)="cadastrarAula()">Cadastrar</ion-button>
  <ion-button expand="block" (click)="editarAula()">Editar</ion-button>

</ion-content>   -->
